body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Bebas Neue','Montserrat',sans-serif, cursive;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
